html {
    font-size:10px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
}
.reading:hover {
    background-image: url("/images/baseline_24.png");
}
p {
    /* background: #c6c7d8; */
    margin-bottom: 24px;
}

h1 {
    /* font-size: 61.035156px; */

    /* em 단위 설정 
    font-size: 3.814698em;
    padding: 2px 0; */

    /* rem 단위 설정 */
    font-size: 6.103rem;
    
}
h2 {
    /* font-size: 48.828125px; */

    /* em 단위 설정 
    font-size: 3.051758em; */

    /* rem 단위 설정 */
    font-size: 4.882rem;
   
}
h3 {
    /* font-size: 39.0625px; */

    /* em 단위 설정 
    font-size: 2.441406em;
    padding: 7px 0; */

    /* rem 단위 설정 */
    font-size: 3.906rem;
}
h4 {
    /* font-size: 31.25px; */

    /* em 단위 설정 
    font-size: 1.953125em;
    padding: 1px 0; */

    /* rem 단위 설정 */
    font-size: 3.125rem; 
}
h5 {
    /* font-size: 25px; */

    /* em 단위 설정 
    font-size: 1.5625em;
    padding: 6px 0; */

    /* rem 단위 설정 */
    font-size: 2.5rem;
}
h6 {
    /* px 단위 설정 */
    /* font-size: 20px; */

    /* em 단위 설정 
    font-size: 1.25em;
    padding: 8px 0; */

    /* rem 단위 설정 */
    font-size: 2rem; 
}